* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover: #b0438a;
    --shadow: #5ca3b4;
    --form: #005f73;
    --formBorder: hsl(234, 75%, 21%);
    --button: #eee8aa;
    --btnBGC: #24a0ed;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a5dbe6;
    font-size: 14px;
    /* height: 100vh; */
}
body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'calendar'
        'main'
        'footer';
    grid-template-rows: auto 2fr 5fr auto;
}
#main,
#calendar {
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

#header {
    grid-area: header;
    color: var(--button);
    background-color: var(--form);
    text-align: center;
    padding: 1vh 0;
}
#calendar {
    grid-area: calendar;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 3vw;
    padding: 0;
    margin: 1vh 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arrow {
    width: 2.5vw;
    margin-top: 2vh;
    background-color: var(--btnBGC);
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#calendar ul {
    display: flex;
    justify-content: space-evenly;
}
#calendar li {
    border-left: dashed var(--form) 2px;
    margin-right: 0.5%;
}
#calendar li:nth-child(1),
#calendar li:nth-child(2),
#calendar li:nth-child(9) {
    border-left: none;
}
#calendar li:nth-child(1),
#calendar li:nth-child(9) {
    background-color: var(--shadow);
}
.paraDay {
    font-weight: 300;
    font-size: 2vw;
    background-color: var(--shadow);
    color: whitesmoke;
    border-radius: 45%;
    padding: 0.5vw;
    margin: 0.25vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paraDay:hover,
.arrow:hover {
    background-color: #fff;
    cursor: pointer;
    color: var(--formBorder);
}
.tasksToday {
    text-align: left;
    padding-left: 0.5vw;
    font-size: 3vw;
    font-family: monospace;
    font-weight: 300;
}
.cardDay {
    font-weight: 800;
    width: calc(100% / 7);
}
#main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}
.card {
    border: solid var(--hover) 1px;
    padding: 1vw;
    background-color: #93cdda;
    margin-bottom: 2vx;
}
.card:nth-child(2n + 1) {
    background-color: var(--shadow);
}
.card div {
    display: flex;
    justify-content: space-between;
    font-size: 3.5vw;
}
.card div:nth-child(4) {
    justify-content: space-evenly;
}
.title {
    font-weight: bolder;
    padding-bottom: 2vh;
}
.project {
    padding-bottom: 3vw;
}
.high {
    border-left: 2vw solid #ff595e;
}
.medium {
    border-left: 2vw solid #fcf6bd;
}
.low {
    border-left: 2vw solid #52b788;
}
.card div button:hover {
    background-color: var(--hover);
    color: red;
}
.btnCard {
    border: none;
    padding: 0;
    font-size: 4vw;
    background: transparent;
    cursor: pointer;
    color: #cd4932;
    width: 5vw;
}
.btnElement {
    border: none;
    background: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.strike {
    text-decoration-line: line-through;
    color: green;
    font-weight: lighter;
}
#formAdd {
    visibility: hidden;
    padding: 2vw;
    background-color: aliceblue;
    width: 90vw;
    position: fixed;
    bottom: 20vh;
    left: 7vw;
    font-size: 1.5vw;
}
#formAdd span {
    display: flex;
}
.btnNav {
    width: 35%;
    color: whitesmoke;
    font-size: 3vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btnForm {
    background-color: var(--btnBGC);
    width: 50%;
    color: whitesmoke;
    padding: 1vw;
}
.btnNav:hover,
.btnForm:hover,
#navSubMenu a:hover {
    background-color: var(--hover);
    color: whitesmoke;
    cursor: pointer;
}
.close {
    float: right;
    transform: translateX(30%);
    /* takes it outside the form */
    border: 1px solid gray;
    border-radius: 50%;
    /* creates circle */
    padding: 0.6em;
    background: black;
    color: white;
    text-decoration: none;
}
.wide {
    width: 100%;
    padding: 1vw;
    display: block;
}
#footer {
    grid-area: footer;
}
#navbar ul {
    background-color: var(--form);
    display: flex;
    justify-content: space-evenly;
    padding-top: 2vw;
    text-align: center;
}
.menuItem {
    text-align: center;
}
.menuItem:hover {
    background-color: #cd4932;
}
#navSubMenu {
    visibility: hidden;
    height: 0;
    padding: 2vw 0;
    position: relative;
    bottom: 2vh;
    font-weight: 500;
}
#navSubMenu > p,
#navSubMenu > ul {
    background-color: #cd4932;
    padding: 2vw;
    font-size: 3vw;
    font-weight: 600;
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 2vw;
    }
    #calendar {
        font-size: 2vw;
    }
    .btnCard {
        width: 3vw;
    }
    .card div {
        font-size: 2vw;
    }
    #formAdd {
        width: 50vw;
        left: 30vw;
    }
    #navSubMenu {
        display: block;
        /* padding: 1vw; */
        text-align: center;
    }
    #navSubMenu a {
        font-size: 2vw;
        padding-left: 1vw;
    }
    #navSubMenu p {
        padding-left: 1vw;
        font-size: 2vw;
    }
    #navbar ul {
        font-size: 2vw;
    }
    .btnNav {
        width: 5vw;
    }
    .tasksToday {
        font-size: 2vw;
    }
}
@media only screen and (min-width: 1025px) {
    body {
        grid-template-areas:
            'header header'
            'footer calendar'
            'footer main';
        grid-template-rows: auto auto auto;
    }
    #calendar {
        /* overflow-y: unset; */
        margin: 2vh;
    }
    #main {
        margin: 2vh;
        align-items: center;
    }

    #footer {
        margin: 2vh;
    }
    #navbar ul {
        display: block;
        background-color: #a5dbe6;
    }
    #navbar ul li {
        padding: 3vh 0;
    }
    #navbar ul img {
        border-radius: 50%;
        width: 5vw;
    }
    .card div {
        font-size: 1vw;
    }
    .card {
        margin: 1vw;
        width: 50vw;
    }
    .menuItem {
        padding: 0;
    }
    #navSubMenu {
        padding: 0;
        overflow: visible;
        font-size: 1vw;
    }
    #navSubMenu a {
        font-size: 1vw;
    }
    .btnCard {
        width: 2vw;
    }
    .btnNav {
        width: 3vw;
        padding: 2vh 0;
    }
    .paraDay {
        font-size: 2vw;
    }
    .tasksToday {
        font-size: 1vw;
    }
}
@media only screen and (min-width: 1200px) {
    body {
        font-size: 1vw;
    }
}
