* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover: #b0438a;
    --shadow: #5ca3b4;
    --form: #005f73;
    --formBorder: #001219;
    --button: #eee8aa;
    --btnBGC: #24a0ed;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    opacity: 0.9;
    background-image: radial-gradient(circle at center center, #3755b8, #4fc8c8),
        repeating-radial-gradient(
            circle at center center,
            #3755b8,
            #3755b8,
            8px,
            transparent 16px,
            transparent 8px
        );
    background-blend-mode: multiply;
}

#content {
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #a5dbe6;
}

#header {
    color: var(--button);
    background-color: var(--form);
    text-align: center;
    padding: 3vh 0;
}
#main {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    background-image: url(../src/images/lists.jpg);
}
.card {
    border: solid var(--hover) 1px;
    padding: 1vw;
    margin: 3vw;
    background-color: #93cdda;
}
.card:nth-child(2n + 1) {
    background-color: var(--shadow);
}
.card div {
    display: flex;
    justify-content: space-between;
}
.title {
    font-weight: bolder;
    padding-bottom: 2vh;
}
.project {
    padding-bottom: 3vw;
}
.high {
    border-right: 5vh solid #ff595e;
    border-radius: 10px;
}
.medium {
    border-right: 5vh solid #fcf6bd;
    border-radius: 10px;
}
.low {
    border-right: 5vh solid #52b788;
    border-radius: 10px;
}
.card div button:hover {
    background-color: var(--hover);
    color: red;
}
.trash,
.edit,
.done {
    border: none;
    padding: 0;
    font-size: 4vw;
    background: transparent;
    cursor: pointer;
    color: #cd4932;
}
.strike {
    text-decoration-line: line-through;
    color: green;
    font-weight: lighter;
}
#formAdd {
    padding: 2vw;
    background-color: aliceblue;
    border: double 2vw pink;
    width: 90vw;
    position: fixed;
    bottom: 20vh;
    left: 7vw;
}
#btnAdd,
#btnEdit {
    background-color: var(--btnBGC);
    width: 100%;
    color: whitesmoke;
    font-size: 3vh;
}
#btnAdd:hover {
    background-color: var(--hover);
    color: red;
}
.close {
    float: right;
    transform: translateX(30%);
    /* takes it outside the form */
    border: 1px solid gray;
    border-radius: 50%;
    /* creates circle */
    padding: 0.6em;
    background: black;
    color: white;
    text-decoration: none;
}
.wide {
    width: 100%;
    padding: 1vw;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
}
ul {
    list-style: none;
    background-color: #a5dbe6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li {
    padding: 2vw;
    font-size: 9vw;
    text-align: center;
}
li:hover {
    background-color: #cd4932;
}
#sortDiv {
    background-color: rgb(110, 141, 182);
    padding: 3vw;
}
#sortDiv a {
    display: flex;
    justify-content: right;
    color: rgb(117, 0, 128);
    text-align: center;
    cursor: pointer;
    padding-right: 10vw;
}

@media only screen and (min-width: 600px) {
    #content {
        grid-template-columns: 1fr 10fr;
        grid-template-areas:
            'header header'
            'footer main';
    }
    #header {
        display: grid;
        grid-area: header;
    }
    #main {
        display: grid;
        grid-area: main;
        margin-bottom: 0;
    }
    #formAdd {
        width: 50vw;
        left: 30vw;
    }
    .trash,
    .edit,
    .done {
        font-size: 3vw;
    }
    footer {
        position: relative;
        display: grid;
        grid-area: footer;
        width: 12.5vw;
        margin: 0;
        padding: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        font-size: 5vw;
    }
    #sortDiv {
        position: absolute;
        display: block;
    }
    #sortDiv a {
        position: relative;
        left: 5vw;
        padding-right: 3vw;
    }
}
@media only screen and (min-width: 1025px) {
    html {
        display: flex;
        justify-content: center;
    }
    #content {
        width: 50vw;
    }
    .trash,
    .edit,
    .done {
        font-size: 2vw;
    }
    .card {
        margin: 1vw;
    }
    footer {
        width: 8vw;
    }
}
